.fa {
    cursor: pointer !important;
    font-size: 1.5rem !important;
}

.bars {
    border: 1px dashed black;
    padding: 5px;
}

.dropdown-item {
    cursor: pointer;
}

.roleActive {
    color: teal;
}