<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <!-- <div class="sidebar-heading">ANGULAR Home </div> -->
    <!-- <div class="card bg-light"> -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <i class="fa fa-user-circle-o user list-group-item list-group-item-action bg-light" aria-hidden="true"></i>
        </div>
        <div class="col-md-6 ml-3">
          <h3>{{ username }}</h3>
          <p>{{ role }}</p>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- For admin -->
    <div class="list-group list-group-flush" *ngIf="role == 'admin'">
      <a [routerLink]="['/admin/dashboard']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-folder-o"></i>
        Dashboard
      </a>
      <a [routerLink]="['/admin/forms']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-wpforms"></i>
        Forms
      </a>
      <a [routerLink]="['/admin/tables']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-table"></i>
        Tables
      </a>
      <a [routerLink]="['/admin/companies']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-gear"></i>
        Visit
      </a>
    </div>

    <!-- For User -->
    <div class="list-group list-group-flush" *ngIf="role == 'user'">
      <a [routerLink]="['/user/dashboard']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-folder-o"></i>
        Dashboard
      </a>
      <a [routerLink]="['/user/services']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-gear"></i>
        Services
      </a>
      <a [routerLink]="['/user/chat']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-wpforms"></i>
        Chat
      </a>
      <a [routerLink]="['/user/activities']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-table"></i>
        Activity
      </a>
    </div>

    <!-- For Manager -->
    <div class="list-group list-group-flush" *ngIf="role == 'manager'">
      <a [routerLink]="['/manager/dashboard']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-folder-o"></i>
        Dashboard
      </a>
      <a [routerLink]="['/manager/attandance']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-gear"></i>
        Attandance
      </a>
      <a [routerLink]="['/manager/leaves']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-wpforms"></i>
        Leaves
      </a>
      <a [routerLink]="['/manager/accounts']" class="list-group-item list-group-item-action bg-light">
        <i class="fa fa-table"></i>
        Accounts
      </a>
    </div>

  </div>
  <!-- /#sidebar-wrapper -->

</div>
<!-- #wrapper -->