.container {
  padding: 16px;
}

.fa-home {
  color: #1668af;
}

h3 {
  color: #1668af;  
  font-family: 'VarelaRound';
}

.home {
  color: #ff962e;
}

a {
  text-decoration: none;
  color: #1668af;  
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Comfortaa';
  font-size: 16px;
  /* margin: 4px 2px; */
  align-content: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  margin-left: 40px;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

footer {
  font-family: 'Comfortaa';
}