<div class="d-flex" id="wrapper">

  <app-sidemenu></app-sidemenu>
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-header></app-header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mt-3">
          <div class="w3-container w3-cont">
            <div class="w3-card-4">
              <header class="w3-container w3-light-gray">
                <h3><i class="fa fa-check-circle mt-2"></i> {{ username }}</h3>
              </header>
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3 p-3">
                    <div class="w3-container">
                      <img [src]="imgSrc" alt="_profile" class="img-responsive">
                    </div>
                  </div>
                  <div class="col-md-9 p-2">
                    <div class="primary-text">
                      <label for="firstname"><span class="ml-2"><i class="fa fa-user"></i>
                          {{ firstname }}</span></label>
                      <span class="ml-1">{{ lastname }}</span>
                      <p class="design ml-2"><i class="fa fa-briefcase"></i><span class="ml-2">{{ designation }}</span>
                      </p>
                    </div>
                    <hr>
                    <div class="w3-container">
                      <div class="row">
                        <div class="col-md-6">
                          <table>
                            <tr class="active-details">
                              <th><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th>:</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{email}}</td>
                            </tr>
                            <br>
                            <tr class="active-details">
                              <th><i class="fa fa-phone" aria-hidden="true"></i> Phone</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th>:</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{phoneNumber}}</td>
                            </tr>
                            <br>
                            <tr class="active-details">
                              <th><i class="fa fa-calendar" aria-hidden="true"></i> Created On</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th>:</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{created_on | date}}</td>
                            </tr>
                          </table>
                        </div>
                        <div class="col-md-6">
                          <table>
                            <tr class="active-details">
                              <th><i class="fa fa-graduation-cap" aria-hidden="true"></i> Designation</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th>:</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{designation}}</td>
                            </tr>
                            <br>
                            <tr class="active-details">
                              <th><i class="fa fa-industry" aria-hidden="true"></i> Department</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th>:</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{department}}</td>
                            </tr>
                            <br>
                            <tr class="active-details">
                              <th><i class="fa fa-code-fork" aria-hidden="true"></i> Role</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <th>:</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>{{role}}</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <h3>Users Profiles :</h3>
                <div class="row">
                  <div class="col-md-3" *ngFor="let item of profilesArr">
                    <img [src]="item" alt="_profiles" class="img-responsive">
                  </div>
                </div>
                <h3>Text File Data :</h3>
                <div class="row">
                  <div class="col-md-12">
                    {{ textData }}
                  </div>
                </div>
                <h3>PDF File Data :</h3>
                <div class="row">
                  <div class="col-md-12">
                    {{ pdfData }}
                  </div>
                </div>
                <h3>Excel File Data :</h3>
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-borderless table-hover">
                      <thead>
                        <tr *ngFor="let item of headersArr; let i=index">
                          <th>#</th>
                          <th>F</th>
                          <th>X</th>
                          <th>Y</th>
                          <th>Z</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of excelData; let i=index">
                          <td>{{ i+1 }}</td>
                          <td>{{ item.F }}</td>
                          <td>{{ item.X }}</td>
                          <td>{{ item.Y }}</td>
                          <td>{{ item.Z }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>  -->
                <h3>Handsontable :</h3>
                <div class="row">
                  <div class="col-md-12">
                    <hot-table [data]="data" [colHeaders]="true" [settings]="settings"
                      [licenseKey]="00000-00000-00000-00000-00000" (click)="OnClickData()">
                    </hot-table>
                    <!-- <hot-table class="hot" [data]="dataset" [colHeaders]="true" [rowHeaders]="true">
                      <hot-column data="id" [readOnly]="true" title="ID"></hot-column>
                      <hot-column data="name" title="Full name"></hot-column>
                      <hot-column data="address" title="Street name"></hot-column>
                    </hot-table> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-success float-right" [disabled]="isValid" (click)="onDataSubmit()">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
