<div class="d-flex" id="wrapper">

    <app-sidemenu></app-sidemenu>
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <app-header></app-header>

        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <div class="card">
                            <div class="card-header">

                            </div>
                            <div class="card-body">

                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->