<div class="d-flex" id="wrapper">

  <app-sidemenu></app-sidemenu>
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-header></app-header>

    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-5">
          <!-- angular8-data-tale -->
          <table class="table table-striped" [svData]="tasksArr" #sv="svDataTable" [svRowsOnPage]="5" svSortBy="name"
            svSortOrder="asc">
            <thead>
              <tr>
                <th>
                  <sv-default-sorter by="name">S.No</sv-default-sorter>
                </th>
                <th>
                  <sv-default-sorter by="name">Title</sv-default-sorter>
                </th>
                <th>
                  <sv-default-sorter by="name">Description</sv-default-sorter>
                </th>
                <th>
                  <sv-default-sorter by="name">Status</sv-default-sorter>
                </th>
                <th>
                  <sv-default-sorter by="name">Done By</sv-default-sorter>
                </th>
                <th>
                  <sv-default-sorter by="name">Done On</sv-default-sorter>
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of sv.data; let i=index">
                <td>{{ i+1 }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td *ngIf="item.is_complete == 0">In complete</td>
                <td *ngIf="item.is_complete == 1">Complete</td>
                <td>{{ item.username }}</td>
                <td>{{ item.updated_at | date }}</td>
                <td>
                  <!-- <i class="fa fa-edit" aria-hidden="true" (click)="getTaskid(item.task_id, item.user_id)"></i>
                  <i class="fa fa-trash" aria-hidden="true"></i> -->
                  <div class="w3-dropdown-hover">
                    <i class="fa fa-ellipsis-v w3-button w3-black" aria-hidden="true"></i>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                      <a class="w3-bar-item w3-button" (click)="getTaskid(item.task_id, item.user_id)">Edit</a>
                      <a class="w3-bar-item w3-button">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


<!-- Edit Modal -->
<div class="w3-container">
  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
      <header class="w3-container w3-grey">
        <span onclick="document.getElementById('id01').style.display='none'"
          class="w3-button w3-display-topright">&times;</span>
        <h3>Update Task</h3>
      </header>
      <div class="w3-container">
        <div class="container">
          <div class="row mt-3">
            <!-- <form> -->
            <div class="col-md-6">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" id="title" [(ngModel)]="title"
                placeholder="Enter title">
            </div>
            <div class="col-md-6">
              <label for="status">Status</label>
              <select class="form-control" name="status" id="status" [(ngModel)]="status">
                <option value="disabled">Select Status :</option>
                <option value="0">In complete</option>
                <option value="1">Complete</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="description">Description</label>
              <textarea class="form-control" name="description" id="description" [(ngModel)]="description"
                placeholder="Enter description"></textarea>
            </div>
            <div class="col-md-6">
              <label for="date">Done On</label>
              <input type="date" class="form-control" name="date" id="date" [(ngModel)]="date">
            </div>
            <!-- </form> -->
          </div>
          <br>
        </div>
      </div>
      <footer class="w3-container w3-grey">
        <div class="w3-container w3-grey w3-padding">
          <button class="w3-button w3-right w3-white w3-border" (click)="updateTask()"><i class="fa fa-save"></i>
            Update</button>
          <button class="w3-button w3-right w3-grey w3-border"
            onclick="document.getElementById('id01').style.display='none'">Close</button>
        </div>
      </footer>
    </div>
  </div>
</div>
<!-- End Modal -->

<!-- Delete Modal -->
<!-- End Modal -->
