.fa {
  cursor: pointer;
  font-size: 1rem;
}

.card-title {
  color: #1668af;
}

.title {
  font-family: 'Montserrat';
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btnn {
  color: #1668af;
  border: 1px solid #1668af
}

.btnn:hover {
  color: white;
  background-color: #1668af;
}

.btn1 {
  padding: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
  width: 2.5%;
  padding: 0.5;
}

input[type=text] {
  padding: 5px;
}

.input-group-text {
  color: white;
  background-color: #1668af;
}

.btn-blue {
  color: #1668af;
  border-color: #1668af;
}

.btn-maroon {
  color: #c54040;
  border-color: #c54040;
}

table thead th {
  font-family: 'Montserrat', sans-serif;
}
/* 
table tbody tr td {
  font-family: 'Montserrat', sans-serif;
} */

table
  thead
    tr
      th
        sv-default-sorter
          .text-nowrap
            .fa-sort-up {
              color: #1668af !important;
            }

table
  tfoot
      tr
        td
          sv-bootstrap-paginator
            sv-paginator
              .row
                .col-md-10
                  ul 
                    .page-item,.active
                      .page-link {
                        background-color: #1668af !important;
                      }

.w3-teal {
  background-color: #1668af !important;
}

h3 {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.field-required:after {
  content: "*";
  color: #c54040;
}

.w3-button {
  font-family: 'Comfortaa', sans-serif !important;
}

.fa-plus {
  font-size: 2rem !important;
  border-right: 1px solid #dee2e6;
}