.fa {
  cursor: pointer;
  font-size: 1rem;
}

.card-title {
  color: #1668af;
}

.title {
  font-family: 'Montserrat';
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btnn {
  color: #1668af;
  border: 1px solid #1668af
}

.btnn:hover {
  color: white;
  background-color: #1668af;
}

.btn1 {
  padding: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  width: 2.5%;
  padding: 0.5;
}

input[type=text] {
  padding: 5px;
}

.input-group-text {
  color: white;
  background-color: #1668af;
}

.btn-blue {
  color: #1668af;
  border-color: #1668af;
}

.btn-maroon {
  color: #c54040;
  border-color: #c54040;
}

table thead th {
  font-family: 'Montserrat', sans-serif;
}

/* pagination styles */

.pagination>li>a.active {
  background-color: #1668af;
  border-color: #1668af;
}


.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #1668af;
  border-color: #1668af;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination>.active>a {
  color: white;
  background-color: #5A4181 !important;
  border: solid 1px #5A4181 !important;
}

.pagination>.active>a:hover {
  background-color: #5A4181 !important;
  border: solid 1px #5A4181;
}

.w3-teal {
  background-color: #1668af !important;
}

h3 {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.field-required:after {
  content: "*";
  color: #c54040;
}

.w3-button {
  font-family: 'Comfortaa', sans-serif !important;
}

.fa-plus {
  font-size: 2rem !important;
  border-right: 1px solid #dee2e6;
}

.action-view {
  cursor: pointer;
}

.action-view:hover {
  color: white;
  background-color: #1668af;
}

.update-btn {
  color: white !important;
  background-color: #6dab25 !important;
}

.update-btn:hover {
  color: white !important;
  background-color: #92b669 !important;
}

.close-btn {
  color: white !important;
  background-color: #c54040 !important;
}

.close-btn:hover {
  color: white !important;
  background-color: #ca6464 !important;
}

.user {
  cursor: pointer;
  color: #1668af;
}

/* Pagination styles */
/* .pagination-custom {
  margin-left: 60%;
} */

.pag-link {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.pag-link.disabled>span,
.pag-link.current>span,
.pag-link>a {
  display: block;
  border-radius: 50%;
  font-size: 16px;
  line-height: 1.42857;
  margin-right: 5px;
  padding: 10px 17px;
  position: relative;
  text-decoration: none;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pag-link:active>a,
.pag-link:hover>a,
.pag-link:focus>a,
.pag-link.current>span {
  /* font-size: 24px; */
  /* font-weight: bold; */
  padding: 10px 20px;
}

.pag-link>a {
  background-color: #1668af;
  color: #fff;
  cursor: pointer;
}

.pag-link.disabled>span,
.pag-link.current>span {
  background-color: #13b3bc;
  color: #fff;
  cursor: inherit;
}

.pag-link:active>a,
.pag-link:hover>a,
.pag-link:focus>a {
  background-color: #417fb6 !important;
  border-color: #417fb6;
  color: #fff;
}