<div class="d-flex" id="wrapper">

  <app-sidemenu></app-sidemenu>
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-header></app-header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-5">
          <form class="example">
            <input type="text" name="search" [(ngModel)]="searchItem" placeholder="Quick seach"
              (keyup)="searchData()">
            <button type="submit" (click)="searchData()"><i class="fa fa-search"></i></button>
          </form>
          <div class="card" *ngIf="hideData">
            <div class="card-body">
              <ul class="list-group list" *ngFor="let item of modules">
                <li class="list-group-item">{{ item }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="hideData">
        <div class="col-md-12 mt-5">
          <p class="text-center">No results found...</p>
        </div>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>