<div class="d-flex" id="wrapper">

  <app-sidemenu></app-sidemenu>
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-header></app-header>
    <div class="container">
      <!-- <h3 class="text-center text-danger">ANGULAR Pro</h3> -->
      <!-- <p class="text-center text-secondary">Created By @angular</p> -->
      <!-- <div class="row">
        <div class="col-md-12 mt-5">
          <form class="example">
            <input type="text" placeholder="Search..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-5">
          <p class="text-center">no results found...</p>
        </div>
      </div>
      <br><br> -->

      <!-- Single image/* upload -->
      <div class="row">
        <div class="col-md-4">
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="form-group">
              <label for="profile">Single File Upload Form :</label>
              <input type="file" #fileInput class="form-control" accept="*" name="image"
                (change)="selectedFile($event)">
            </div>
            <button class="btn btn-info" type="submit" (click)="uploadSingle()">Upload</button>
          </form>
        </div>
      </div>

      <!-- Multiple images/* upload-->
      <div class="row">
        <div class="col-md-12">
          <form action="" [formGroup]="ImageForm" enctype="multipart/form-data" method="POST">
            <div formArrayName="ImageArr">
              <div class="row" *ngFor="let item of ImageForm['controls']['ImageArr']['controls'];let i=index"
                [formGroupName]="i">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="image-required">Multiple File Upload Form :</label>
                    <input type="file" #filesInput class="form-control" accept="video/mp4,image/png,image/jpeg"
                      name="image" formControlName="image" (change)="selectedFiles($event.target.files)">
                  </div>
                </div>
                <div class="col-md-3 mt-4">
                  <div class="form-group">
                    <button class="btn btn-outline-success" *ngIf="ImageForm.controls.ImageArr.controls.length <= i+1"
                      (click)="addForm(i)"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-outline-danger ml-2" *ngIf="ImageForm.controls.ImageArr.controls.length > 1"
                      (click)="removeForm(i)"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-info" type="submit" (click)="uploadMultiple()">Upload</button>
          </form>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->