<div class="d-flex" id="wrapper">

  <app-sidemenu></app-sidemenu>
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-header></app-header>
    <div class="container">
      <!-- <h3 class="text-center text-danger">ANGULAR Pro</h3> -->
      <!-- <p class="text-center text-secondary">Created By @angular</p> -->
      <div class="row">
        <div class="col-md-12 mt-5">
          <form class="example">
            <input type="text" placeholder="Search..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
