<div class="d-flex" id="wrapper">

  <app-sidemenu></app-sidemenu>
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-header></app-header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="form-group">
              <label for="profile">Upload Profile</label>
              <input type="file" #fileInput class="form-control" name="image" (change)="selectedFile($event)">
            </div>
            <button class="btn btn-info" type="submit" (click)="uploadProfile()">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
