<div class="d-flex" id="wrapper">

  <app-sidemenu></app-sidemenu>
  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-header></app-header>

    <div class="container-fluid">
      <!-- upload a file -->
      <!-- <div class="row">
        <div class="col-md-4">
          <form action="" enctype="multipart/form-data" method="POST">
            <div class="form-group">
              <label for="profile">Upload Profile</label>
              <input type="file" #fileInput class="form-control" name="image" (change)="selectedFile($event)">
            </div>
            <button class="btn btn-info" type="submit" (click)="uploadProfile()">Upload</button>
          </form>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12 mt-5">
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <h4><i class="fa fa-user" aria-hidden="true"> Role Management</i></h4>
              </div>
            </div>
            <div class="card-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3">
                    <select name="rolename" id="rolename" class="select-form" [(ngModel)]="rolename" value="{{ rolename }}">
                      <option disabled>Select Role :</option>
                      <option *ngFor="let item of roles">{{ item }}</option>
                    </select>
                  </div>
                  <div class="col-md-4 role-select">
                    selected Role :<span class="ml-2 main-role">{{ rolename }}</span>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-light table-borderless table-hover" style="width: 100%">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">Module Name</th>
                          <th class="text-center">Add</th>
                          <th class="text-center">Update</th>
                          <th class="text-center">Delete</th>
                          <th class="text-center">View</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of moduleNames;let i=index">
                          <td class="text-center">{{ item.name }}</td>
                          <td class="text-center">
                            <input type="{{item.type}}" [checked]="true" class="checkbox-form" name="add" id="add">
                          </td>
                          <td class="text-center">
                            <input type="{{item.type}}" class="checkbox-form" name="update" id="update">
                          </td>
                          <td class="text-center">
                            <input type="{{item.type}}" class="checkbox-form" name="delete" id="delete">
                          </td>
                          <td class="text-center">
                            <input type="{{item.type}}" class="checkbox-form" name="view" id="view">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label for="checkedCheckbox" class="si si-checkbox">
                      <input type="checkbox" name="" id="checkedCheckbox">
                      <span class="si-label">Check checkbox state</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn success-btn float-right">
                <i class="fa fa-check-circle" aria-hidden="true"> Save</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
